* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url("./images/Bitmap.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transition-duration: 0.25s;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
